*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat",sans-serif;
    z-index:10 ;
/*     background-image: url("../images/fondo-textura-hormigon-negro-grunge.jpg"); */
}
.menu__activator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1em;
    background-color: #000;
}
.menu__activator > i {
    font-size: 27px;
    font-weight: 700;
    color:#fff;
}
.menu{
    z-index: 20;
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    background-color: #000;
    width: 100vw;
    height: 37vh;
    opacity: .65;
    border-radius: 0 0 15px 15px;
}
.menu__items{
    list-style: none;
    width: 100%;
}
.menu__items:last-child{
    margin-bottom: 20px;
}
.menu__links{
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.menu__links:hover{
    background-color: #fff;
}

.hero{
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: end;
    gap: 20px;
}
img.inicio__imagen{
    max-width: 250px ;
}


.box__skills{
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.box__logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
}
.skill__logos{
    max-width: 65px;
    min-width: 40px;
}





.show-hide{
    display:flex;
}