*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat    ",sans-serif;
}
.menu__activator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1em;
    background-color: #139298;
}
.menu__activator > i {
    font-size: 27px;
}
.menu{
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    background-color: #139298;
    width: 100vw;
    height: 37vh;
}
.menu__items{
    list-style: none;
    width: 100%;
    
}
.menu__items:last-child{
    margin-bottom: 20px;
}
.menu__links{
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #139298;
}
.menu__links:hover{
    background-color: #1392f8;
}

.show-hide{
    display:flex;
}